# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# project builders
package-lock.json
yarn.lock
yarn-error.log

# ide
.vscode

# doc
.docz