.time{
  display: flex;
  padding: 0 1rem;
  margin-bottom: 24px;
  color: var(--gray)
}

.bold{
  margin-left: 5px;
  font-weight: 600;
}

.colors{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 2rem;
}

.color{
  text-align: center;
  padding: 0 30px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
  padding: 0 0.5rem;
}

.button{
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 940px) {
  .color{
    padding: 0;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .color{
    width: 100%;
    font-size: 1.3rem;
  }
  .button{
    width: 100%;
  }
}