.wrapper{
  padding: 176px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

.bold{
  font-weight: 600;
}

.panel{
  display: flex;
  align-items: center;
}

@media (max-width: 470px) {
  .panel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}