.wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 176px 0;
}

.text {
  width: 100%;
  padding: 0 .5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.25rem;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.panel {
  display: flex;
  align-items: center;
}

@media (max-width: 1040px) {
  .wrapper {
    padding: 120px 0;
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding: 70px 0;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 50px 0;
  }

  .panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
