.wrapper{
  padding: 236px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  width: 100%;
  margin-bottom: 40px;
  padding: 0 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

@media (max-width: 1040px){
  .wrapper{
    padding: 120px 0;
  }
}

@media (max-width: 720px){
  .wrapper{
    padding: 70px 0;
  }
}

@media (max-width: 480px){
  .wrapper{
    padding: 50px 0;
  }
}