.wrapper{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0.5rem 2.5rem 0.5rem;
}

.title{
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.description{
  padding: 0 0.5rem 2.5rem 0.5rem;
  & p {
    margin-bottom: 0.5rem;
  }
}

.time{
  display: flex;
  padding: 0 1rem;
  margin-bottom: 24px;
  color: var(--gray)
}

.bold{
  margin-left: 5px;
  font-weight: 600;
}